/*--------------Resets--------------*/

/*Reset de margens geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Reset da formatação de links*/
a{
    text-decoration: none;
    color: inherit;
}

/*Reset da estrutura de listas*/
ul,ol,li{
    list-style: none;
}

/*--------------Valores referência--------------*/

:root{                                  /*Criando valores referência a serem usados em outros campos*/
    --primary-color: #F5CF06; 
    --secondary-color: #8E4106;
}

/*------------------------------------------------------------------------------*/
/*----------------------FORMATAÇÃO BASE (Celular 360 x 640)---------------------*/
/*------------------------------------------------------------------------------*/



/*--------------BODY--------------*/
body{
    font-family: "Righteous", sans-serif;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-size:40px;
    height: 100vh;
}

/*--------------"HEADER"--------------*/

.pokemon-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    margin: 30px;
}

h2{
    color: var(--secondary-color);
    font-size: 32px;
}

/*--------------HOME--------------*/

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

h1{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 80px;
    height: 214px;
    font-weight: 40;

    position: absolute;
    top: 42px;
    
    left: 50%;
    transform: translate(-50%); /*Centralizando*/
    z-index: -1;
}

.watermark{
    color: #ffffff50;
    font-size: 100px;
    left: 50%;
    transform: translate(-50%); /*Centralizando*/
    top: 0px;
    z-index: -1;
}

.pikachu-image{
    background-image: url(./img/pikachu-compressed.svg);
    width: 333px;
    height: 323px;

    margin-top: 50px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 3%;
}


.hero h2{
    font-size: 40px;
    margin-top:-15px;
    font-weight: 40;
}
.hero span{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 40;
    text-align: center;
    display: none;
}

.download-button{
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 312px;
    height: 100px;
}

footer{
    display: none;
}

/*------------------------------------------------------------------------------*/
/*-------------------------FORMATAÇÃO TABLET (768x1024)-------------------------*/
/*------------------------------------------------------------------------------*/
@media (min-width:768px){
    body{
        font-size:64px
        
    }

    .pokemon-logo{
        margin:30px;
    }

    h1{
        font-size: 180px;
        height: 224px;
        transform: translate(-50%, 35%); /*Centralizando*/
    }
    
    .watermark{
        font-size: 200px;
        
        transform: translate(-50%, 21%); /*Centralizando*/
    }
    .pikachu-image{
        background-image: url(./img/pikachu.svg);
        width: 559px;
        height: 541px;
    
        margin-top: 140px;
    }

    .hero{
        margin-top: -36px;
    }

    .hero h2{
        font-size: 64px;
    }
    .hero span{
        display: block;
        font-size: 20px;

        width: 489px;
    }

    .download-button{
        margin-top: 11px;
        width: 411px;
        height: 100px;
    }

}
/*------------------------------------------------------------------------------*/
/*------------------------FORMATAÇÃO DESKTOP (1440x900)-------------------------*/
/*------------------------------------------------------------------------------*/
@media (min-width:1440px){


    .pokemon-logo{
        margin:30px;
    }

    h1{
        font-size: 300px;
        height: 224px;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); /*Centralizando*/
        

    }
    
    .watermark{
        font-size: 400px;

        left: 50%;
        top: 40%;
        transform: translate(-50%, -60%); /*Centralizando*/
    }
    .pikachu-image{
        background-image: url(./img/pikachu.svg);
        width: 559px;
        height: 541px;
    
        margin-top: 190px;
    }

    .hero{
        position:fixed;
        left: 70px;
        bottom: 117px;
    }

    .hero h2{
        font-size: 64px;
    }
    .hero span{
        display: block;
        text-align: left;
        font-size: 20px;

        width: 489px;
    }

    .download-button{
        
        position:fixed;
        right: 70px;
        bottom:117px;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    footer span{
        font-size: 16px;
        margin-top: 1.5rem;
        margin-bottom:1.5rem;
        color: var(--secondary-color);
    }

}